### Numbers

#### Modulo or "Mod" operator

In [1]:
50%5

0

In [2]:
19%2

1

In [4]:
3**4

81

In [5]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [7]:
a = 10

In [8]:
a

10

In [9]:
type(a)

int

In [10]:
a = "hello"
a[2]

'l'

In [12]:

a[4]

'o'

In [13]:
a[-1]

'o'

In [14]:
a[1:4:2]

'el'

In [16]:
len(a)

5

In [17]:
print("hello \nworld")

hello
world

In [18]:
mystring = "Hello World"

In [19]:
mystring[2]

'l'

In [20]:
mystring[-3]

'r'

In [21]:
mystring[2:8]

'llo Wo'

In [22]:
mystring[2:8:2]

'loW'

In [23]:
mystring[2:]

'llo World'

In [24]:
mystring[:7]

'Hello W'

In [25]:
len(mystring)

11

In [26]:
mystring[:]

'Hello World'

In [27]:
mystring[::2]

'HloWrd'

In [28]:
mystring[::-1]

'dlroW olleH'

In [29]:
mystring[-3]

'r'

#### Immutability

In [30]:
name = "Sam"

In [31]:
last_letters = name[1:]

In [32]:
"P" + last_letters

'Pam'

In [33]:
x = "Hello World"

In [36]:
x = x + " it is beautiful outside!"

In [37]:
x

'Hello World it is beautiful outside!'

In [38]:
letter = "z"

In [39]:
letter * 10

'zzzzzzzzzz'

In [40]:
'2' + '3'

'23'

In [41]:
x = 'Hello World'

In [42]:
x.upper()

'HELLO WORLD'

In [45]:
x.lower()

'hello world'

In [46]:
x.split()

['Hello', 'World']

In [47]:
x = "Hi this is a sting"

In [48]:
x.split()

['Hi', 'this', 'is', 'a', 'sting']

In [49]:
x.split('i')

['H', ' th', 's ', 's a st', 'ng']

### Print Formatting

In [51]:
my_name = "Wooyong"
print("Hello " + my_name)

Hello Wooyong

#### Formatting with the .format() method

In [52]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [53]:
print('The {} {} {}'.format("fox", "brown", "quick"))

The fox brown quick

In [55]:
print('The {2} {1} {0}'.format("fox", "brown", "quick"))

The quick brown fox

In [56]:
print('The {0} {0} {0}'.format("fox", "brown", "quick"))

The fox fox fox

In [57]:
print("The {f} {b} {q}".format(f = 'fox', b = 'brown', q = 'quick'))

The fox brown quick

#### Float formatting follows "{value:width.precision f}"

In [58]:
result = 100/777

In [59]:
result

0.1287001287001287

In [60]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [61]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [62]:
print("The result was {r:15.3f}".format(r = result))

The result was           0.129

#### f-string method

In [64]:
name = "Wooyong"
print(f"Hello, his name is {name}")

Hello, his name is Wooyong

In [66]:
name = "Wooyong"
age = "30"

In [67]:
print(f'{name} is {age} years old.')

Wooyong is 30 years old.

### Lists

In [68]:
my_list = [1, 2, 3]

In [69]:
my_list

[1, 2, 3]

In [71]:
len(my_list)

3

#### append, pop, sort, reverse

In [72]:
new_list = ["one", "two", "three"]

In [74]:
new_list.append('four')

In [75]:
new_list

['one', 'two', 'three', 'four']

In [76]:
new_list[0] = "ONE"

In [77]:
new_list

['ONE', 'two', 'three', 'four']

In [78]:
new_list.pop()

'four'

In [79]:
new_list

['ONE', 'two', 'three']

In [80]:
popped_item = new_list.pop()

In [81]:
popped_item

'three'

In [82]:
new_list

['ONE', 'two']

In [84]:
new_list.append('three')

In [85]:
new_list[-1]

'three'

In [86]:
new_list

['ONE', 'two', 'three']

In [87]:
new_list.pop(1)

'two'

In [88]:
new_list

['ONE', 'three']

In [89]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [3,1, 5,7, 8, 9, 5, 2]

In [90]:
new_list.sort()

In [91]:
new_list

['a', 'b', 'c', 'e', 'x']

In [92]:
num_list.sort()

In [93]:
num_list

[1, 2, 3, 5, 5, 7, 8, 9]

In [94]:
num_list.reverse()

In [95]:
num_list

[9, 8, 7, 5, 5, 3, 2, 1]

### Dictionaries

In [96]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [97]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [98]:
my_dict['key1'
]

'value1'

In [99]:
prices_lookup = {'apple':2.99, 'orange':1.99, 'milk':5.80}

In [100]:
prices_lookup['apple']

2.99

In [101]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'inside_key':100}}

In [102]:
d['k2']

[0, 1, 2]

In [103]:
d['k3']

{'inside_key': 100}

In [105]:
d['k3']['inside_key']

100

In [106]:
d = {'k1':100, 'k2':200}

In [107]:
d['k3'] = 300

In [108]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [109]:
d['k1'] = 'new value'

In [110]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [112]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [113]:
d.values()

dict_values(['new value', 200, 300])

In [114]:
d.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

#### Tuples

In [115]:
t = (1,2,3)

In [116]:
type(t)

tuple

In [117]:
t[1]

2

In [119]:
t = ('one', 2)

In [120]:
t

('one', 2)

In [121]:
t = ('a', 'a', 'b')

In [122]:
t.count('a')

2

In [123]:
t.index('a')

0

In [124]:
mylist = [1,2,3]

In [125]:
mylist[0] = 'new'

In [126]:
mylist

['new', 2, 3]

In [128]:
t[0] = 'new' # Tuple is immutable

TypeError: 'tuple' object does not support item assignment

#### Sets

In [129]:
myset = set()

In [130]:
myset

set()

In [131]:
myset.add(1)

In [132]:
myset

{1}

In [133]:
myset.add(2)

In [134]:
myset

{1, 2}

In [135]:
myset.add(1)

In [136]:
myset

{1, 2}

In [139]:
mylist = [5,3,7,1,1,1,1,2,2,2,3,3,3,3]

In [140]:
set(mylist)

{1, 2, 3, 5, 7}

In [142]:
set([1,1,2,3])

{1, 2, 3}

### Files

In [143]:
%%writefile myfile.txt
Hello, this is a text file for practice.
This is the second line.
This is the third line.

Writing myfile.txt

In [144]:
myfile = open('myfile.txt')

In [146]:
pwd

'/Users/wooyongjung/WJ_Projects/Udemy_python'

In [147]:
myfile.read()

'Hello, this is a text file for practice.\nThis is the second line.\nThis is the third line.\n'

In [148]:
myfile.read()

''

In [149]:
myfile.seek(0)

0

In [150]:
myfile.read()

'Hello, this is a text file for practice.\nThis is the second line.\nThis is the third line.\n'

In [151]:
myfile.seek(0)

0

In [152]:
myfile.readlines()

['Hello, this is a text file for practice.\n',
 'This is the second line.\n',
 'This is the third line.\n']

In [153]:
myfile.close()

In [154]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [155]:
contents

'Hello, this is a text file for practice.\nThis is the second line.\nThis is the third line.\n'

In [156]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [157]:
contents

'Hello, this is a text file for practice.\nThis is the second line.\nThis is the third line.\n'

In [158]:
with open('myfile.txt', mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [159]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [160]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [161]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [162]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [164]:
with open('testtesttest.txt', mode = 'w') as f:
    f.write('I created this file!')

In [165]:
with open('testtesttest.txt', mode = 'r') as f:
    print(f.read())

I created this file!