## Control Flow

In [1]:
if True:
    print('It is true.')

It is true.

In [2]:
if 4 > 2:
    print('It is true.')

It is true.

In [3]:
hungry = True

In [4]:
if hungry:
    print("Feed me!")

Feed me!

In [5]:
if hungry:
    print("Feed me!")
else:
    print("Stop feeding me!")

Feed me!

In [7]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

### For loop

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [11]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [12]:
list_sum = 0

In [13]:
for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [14]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [15]:
mystring = 'Hello World'
for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [16]:
tup = (1,2,3)

In [17]:
for item in tup:
    print(item)

1
2
3

In [18]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [19]:
len(mylist)

4

In [20]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

#### Tuple unpacking

In [22]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [23]:
for a,b in mylist:
    print(a)

1
3
5
7

In [24]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [25]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [27]:
for a,b,c in mylist:
    print(b,c)

2 3
6 7
9 10

In [28]:
d = {'k1':1,'k2':2,'k3':3}

In [29]:
for item in d:
    print(item)

k1
k2
k3

In [30]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
for key,value in d.items():
    print(value)

1
2
3

In [32]:
for value in d.values():
    print(value)

1
2
3

### While loop

In [35]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [36]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5.")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5.

### Break, Continue, Pass

In [39]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [41]:
mystring = 'Wooyong'

In [42]:
for letter in mystring:
    print(letter)

W
o
o
y
o
n
g

In [43]:
for letter in mystring:
    if letter == 'o':
        continue
    print(letter)

W
y
n
g

In [44]:
for letter in mystring:
    if letter == 'o':
        break
    print(letter)

W

In [47]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

### Useful operators

In [48]:
mylist = [1,2,3]

In [49]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [50]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [51]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [52]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [53]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [54]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [55]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [58]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [59]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [60]:
zip(mylist1, mylist2)

In [61]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [62]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [63]:
'x' in [1,2,3]

False

In [64]:
1 in [1,2,3]

True

In [65]:
'a' in 'a world'

True

In [66]:
'mykey' in {'mykey':34}

True

In [67]:
d = {'mykey':34}

In [68]:
34 in d

False

In [69]:
34 in d.values()

True

In [70]:
mylist = [10,20,30,40,100]

In [71]:
min(mylist)

10

In [72]:
max(mylist)

100

In [74]:
from random import shuffle

In [77]:
mylist = list(range(11))

In [78]:
shuffle(mylist)

In [79]:
mylist

[2, 9, 5, 1, 8, 6, 0, 10, 3, 4, 7]

In [80]:
mylist.sort()

In [81]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
from random import randint

In [83]:
randint(0,100)

22

In [84]:
input('Enter a number here: ')

Enter a number here: 100

'100'

In [85]:
result = input('Favorite number?')

Favorite number?10

In [86]:
result

'10'

In [90]:
type(result)

str

In [91]:
float(result)

10.0

In [92]:
int(result)

10

### List comprehension

In [94]:
mystring = 'hello'

In [95]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [96]:
mylist

['h', 'e', 'l', 'l', 'o']

In [97]:
mylist = [letter for letter in mystring]

In [98]:
mylist

['h', 'e', 'l', 'l', 'o']

In [99]:
mylist = [x for x in 'word']

In [100]:
mylist

['w', 'o', 'r', 'd']

In [101]:
mylist = [x for x in range(0,11)]

In [102]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
mylist = [range(0,11)]

In [104]:
mylist

[range(0, 11)]

In [105]:
mylist = [num**2 for num in range(0,11)]

In [106]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [107]:
mylist = [x for x in range(0,11) if x%2==0]

In [108]:
mylist

[0, 2, 4, 6, 8, 10]

In [109]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [110]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [111]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [112]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [113]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [114]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### Nested loop

In [115]:
mylist = []

In [116]:
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [117]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [118]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [119]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]